CompileFlags:
  Remove:
    - -forward-unknown-to-host-compiler
    - --forward-unknown-to-host-compiler
    - --generate-code-arch=*
    - --generate-code*
    - -gencode*
    - -code=*
    - -rdc=*
    - --expt-*
    - -Xcompiler=*
    - -x cu
    - -xcuda
  Add:
    - -std=c++23
Diagnostics:
  Suppress:
    - misc-include-cleaner
  ClangTidy:
    Remove: [misc-include-cleaner, clang-diagnostic-error]
