CompileFlags:
  Remove:
    # Remove NVCC-specific flags that clangd doesn't understand
    - -forward-unknown-to-host-compiler
    - --forward-unknown-to-host-compiler
    - --generate-code-arch=*
    - --generate-code*
    - -gencode*
    - -code=*
    - -rdc=*
    - --expt-*
    - -Xcompiler=*
    - -x cu
  Add:
    - -std=c++20
    - -xcuda

